.ordersHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ordersHeader>div {
    width: 100%;
}

.card-section {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
}

.sectionTitle {
    padding: 14px 20px;
    font-size: 14px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #2f3542;
}

.card-section hr {
    margin: 0;
    color: #747d8c;
}

.textField {
    width: 35%;
    border: none;
    outline: none;
    margin-right: 10px;
    height: 32px;
    border-radius: 5px;
    padding: 3px 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.neworder {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 9px;
    margin-right: 18px;
    height: 35px;
    background-color: #3ea868;
    color: white;
}

.statusslct {
    border: none;
    outline: none;
    margin: 0 18px 0 2px;
    padding: 5px;
    cursor: pointer;

}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.fa-angle-down {
    position: absolute;
    margin-left: -92px;
    margin-top: 22px;
}

.orderTable {
    width: 100%;
}

.orderTable .tableHead {
    height: 40px;
    background-color: #f1f2f6;
}

.orderTable .tableHead th {
    font-weight: 600;
    padding-left: 20px;
    opacity: 0.7;
}

.orderTable .tableBody tr {
    height: 40px;
}

.orderTable .tableBody td {
    font-weight: 400;
    padding-left: 20px;
}

.check {
    color: #3ea868;
    line-height: 40px;
}

.times {
    color: red;
    line-height: 40px;

}

.times i {
    padding-right: 4px;
}

.fa-eye {
    color: #0097e6;
    cursor: pointer;
}

.fa-eye::after {
    content: "|";
    color: black;
    opacity: 0.6;
    margin-left: 8px;

}

.fa-pen {
    color: #3ea868;
    margin-left: 8px;
    cursor: pointer;
}

.fa-pen::after {
    content: "|";
    color: black;
    opacity: 0.6;
    margin-left: 8px;

}

.fa-trash {
    color: red;
    margin-left: 8px;
    cursor: pointer;
}

.bds {
    width: 10%;
}

.orderFooter {
    display: flex;
    justify-content: space-between;
    padding: 14px 20px;
}

.orderLeft {
    width: 100%;
}

.orderRight {
    width: 100%;
    padding: 0 20px;
    text-align: end;
}

.my-pagination /deep/ .ngx-pagination .current {
    border-radius: 5px;
    background: #3ea868;
    border: 1px solid transparent;
}

.my-pagination /deep/ .ngx-pagination li a:hover {
    border-radius: 5px;
    background-color: #dfe6e9;
}

.my-pagination /deep/ .ngx-pagination li {
    border: 1px solid #c8d6e5;
    border-radius: 5px;
    margin-right: 5px;
}

.my-pagination /deep/ .ngx-pagination .pagination-previous a {
    position: absolute;
    visibility: hidden;
}


.my-pagination /deep/ .ngx-pagination .pagination-previous a::before {
    font-family: "Font Awesome 5 Pro";
    content: '\f053';
    position: absolute;
    color: #576574;
    top: -15px;
    left: 5px;
    margin-left: -20px;
    visibility: visible;
}

.my-pagination /deep/ .ngx-pagination .pagination-previous.disabled {
    position: absolute;
    visibility: hidden;
}

.my-pagination /deep/ .ngx-pagination .pagination-previous.disabled::before {
    font-family: "Font Awesome 5 Pro";
    content: '\f053';
    position: absolute;
    top: 3px;
    left: 4px;
    margin-left: -20px;
    visibility: visible;

}


.my-pagination /deep/ .ngx-pagination .pagination-next a {
    position: absolute;
    visibility: hidden;
}

.my-pagination /deep/ .ngx-pagination .pagination-next a::before {
    font-family: "Font Awesome 5 Pro";
    content: '\f054';
    position: absolute;
    color: #576574;
    top: -15px;
    left: 24px;
    margin-left: -20px;
    visibility: visible;
}

.my-pagination /deep/ .ngx-pagination .pagination-next.disabled {
    position: absolute;
    visibility: hidden;
}

.my-pagination /deep/ .ngx-pagination .pagination-next.disabled::before {
    font-family: "Font Awesome 5 Pro";
    content: '\f054';
    position: absolute;
    top: 3px;
    left: 24px;
    margin-left: -20px;
    visibility: visible;
}

/deep/ .popover-body p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

/deep/ .popover-header {
    font-family: 'Montserrat', sans-serif !important;
}

/deep/ .confirm-btns {
    font-family: 'Montserrat', sans-serif !important;
    width: 75%;
}

/deep/ .confirm-btns button:focus{
    box-shadow: none!important;
}

/deep/ .btn-danger{
    background-color: #3ea868!important;
    border-color: #3ea868!important;
}

/deep/ .alertify-notifier .ajs-success{
    background-color: #3ea868!important;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

/deep/ .alertify-notifier .ajs-error{
    background-color: red!important;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}