<div class="row">
    <div class="col-lg-10">
        <div class="card-section">
            <h3 class="sectionTitle">Yeni sifariş</h3>
            <hr>

            <form class="form-section">
                <div class="part1">

                    <div class="part1child">
                        <input type="number" class="textField" [(ngModel)]="newOrders.orderDocNum" name="orderDocNum"
                            placeholder="Sənəd №" required>
                        <input type="number" class="textField" [(ngModel)]="newOrders.orderPrice" name="orderPrice"
                            placeholder="Xidmət məbləği" required>
                    </div>

                    <div class="verticalHr"></div>

                    <div class="part1child">
                        <input type="text" class="textField" [(ngModel)]="newOrders.orderCusName"
                            placeholder="Müştəri adı" name="orderCusName" #date required>
                        <input type="text" class="textField" [(ngModel)]="newOrders.orderDate" name="orderDate"
                            [cleave]="{date: true, delimiter: '.'}" placeholder="Sifarişin tarixi (gg.aa.iiii)" required>
                    </div>

                    <div class="verticalHr"></div>

                    <div class="part1child">
                        <input type="number" class="textField" [(ngModel)]="newOrders.orderGbnum" name="orderGbnum"
                            placeholder="GB №" required>
                        <input type="text" class="textField" [(ngModel)]="newOrders.orderTrafficType"
                            name="orderTrafficType" placeholder="Nəqliyyat növü" required>
                    </div>

                </div>
                <div class="part2">
                    <h4>Xidmətlər</h4>

                    <input type="checkbox" id="Checkbox" [(ngModel)]="newOrders.orderSerCheck1" name="orderSerCheck1"
                        name="Checkbox" required>
                    <label for="Checkbox">
                        <span class="label-name">Qısa idxal bəyannaməsinin yazılması</span>
                        <div class="checkmark">
                            <i class="fal fa-check-circle"></i>
                        </div>
                    </label>

                    <input type="checkbox" id="Checkbox2" [(ngModel)]="newOrders.orderSerCheck2" name="orderSerCheck2"
                        name="Checkbox2" required>
                    <label for="Checkbox2">
                        <span class="label-name">Broker xidməti</span>
                        <div class="checkmark">
                            <i class="fal fa-check-circle"></i>
                        </div>
                    </label>

                    <input type="checkbox" id="Checkbox3" [(ngModel)]="newOrders.orderSerCheck3" name="orderSerCheck3"
                        name="Checkbox3" required>
                    <label for="Checkbox3">
                        <span class="label-name">İdxal bəyannaməsinin yazılması</span>
                        <div class="checkmark">
                            <i class="fal fa-check-circle"></i>
                        </div>
                    </label>

                    <input type="checkbox" id="Checkbox4" [(ngModel)]="newOrders.orderSerCheck4" name="orderSerCheck4"
                        name="Checkbox4" required>
                    <label for="Checkbox4">
                        <span class="label-name">Digər</span>
                        <div class="checkmark">
                            <i class="fal fa-check-circle"></i>
                        </div>
                    </label>

                </div>
                <hr>
                <div class="part3 pb-3 mt-3">
                    <div class="row">
                        <div class="col-6">
                            <h4>Sənəd növü</h4>

                            <select class="docType" name="orderDocId" [(ngModel)]="newOrders.orderDocId"
                                onchange="myFunction()" required>
                                <option [ngValue]="null" value="null" selected disabled>Sənəd seçin</option>
                                <option *ngFor="let item of docs" [ngValue]="item.documentId">{{item.documentName}}
                                </option>
                            </select>

                            <span class="choseFile" id="choseFile">Sənəd seçin</span>
                            <i class="fal fa-angle-down"></i>

                            <div *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">

                                <select class="docType" name="orderDocId" id="" >
                                    <option selected disabled>Sənəd seçin</option>
                                    <option *ngFor="let item of docs" [ngValue]="item.documentId">{{item.documentName}}
                                    </option>
                                </select>

                                <i class="fal fa-angle-down"></i>
                                <i class="far fa-trash" (click)="removeQuantity(i)"></i>
                            </div>

                        </div>
                        <div class="col-6">
                            <h4>Fayl</h4>
                            <div class="file-upload">
                                <div class="file-select">
                                    <div class="file-select-button fileName">Fayl seçin</div>
                                    <div class="file-select-name noFile">Seçilmiş fayl yoxdur...</div>
                                    <input type="file" id="inputFile" name="chooseFile" class="chooseFile"
                                        (change)="upload($event)" required>
                                </div>
                                <input type="hidden" id="" name="fileName" #fileName [(ngModel)]="newOrders.orderFile">
                                <!-- <button onclick="uploadDoc()">gonder</button> -->
                            </div>

                        </div>
                    </div>
                    <span (click)="addQuantity()">+ Əlavə sənəd</span>

                </div>
                <hr>
                <textarea class="textareaField" placeholder="Qeyd" [(ngModel)]="newOrders.orderNote" rows="4"
                    name="orderNote" required></textarea>
                <div class="price-div">
                    <span class="price">Xidmət haqqı:</span>
                    <input type="checkbox" [(ngModel)]="newOrders.orderPriceStat" id="Checkbox5" name="Checkbox5">
                    <label for="Checkbox5" required>
                        <span class="label-name">Ödənilib</span>
                        <div class="checkmark">
                            <i class="fal fa-check-circle"></i>
                        </div>
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-2">
        <button class="save" onclick="uploadDoc()" (click)="addOrder()" >Əlavə et</button>
        <button class="back" [routerLink]="['/orders']" routerLinkActive="router-link-active">Geri</button>
        <hr>
        <div class="info">
            <p>Sənəd nömrəsi</p>
            <input [(ngModel)]="newOrders.orderDocNum" readonly placeholder="Təyin olunmayıb">
        </div>
        <div class="info">
            <p>Müştəri</p>
            <input [(ngModel)]="newOrders.orderCusName" readonly placeholder="Təyin olunmayıb">
        </div>
        <div class="info">
            <p>Tarix</p>
            <input [(ngModel)]="newOrders.orderDate" readonly placeholder="Təyin olunmayıb">
        </div>
        <div class="info">
            <p>Xidmət məbləği</p>
            <input [(ngModel)]="newOrders.orderPrice" readonly placeholder="Təyin olunmayıb">
        </div>
    </div>
</div>