.nav{
    margin-top: 20px;
}

.nav-item a i{
    padding-right: 12px;
    margin-left: 5px;
}

.nav-item a{
    font-weight: 600;
}

.nav-item a:hover{
    color: white;
}

.nav li{
    transition: 0.3s;
}

.nav li:hover{
    background-color: #5352ed;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 80%;
}