
 body {
	 font-family: 'Raleway', sans-serif;
	 font-size: 14px;
	 line-height: 1.8;
	 font-weight: normal;
	 background: #fafafa;
	 color: #808080;
}
 a {
	 transition: 0.3s all ease;
	 color: #3e64ff;
}
 a:hover, a:focus {
	 text-decoration: none !important;
	 outline: none !important;
	 box-shadow: none;
}
 button {
	 transition: 0.3s all ease;
}
 button:hover, button:focus {
	 text-decoration: none !important;
	 outline: none !important;
	 box-shadow: none !important;
}
 h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
	 line-height: 1.5;
	 font-weight: 400;
	 font-family: 'Raleway', sans-serif;
	 color: black;
}
 .ftco-section {
	 padding: 7em 0;
}
 .ftco-no-pt {
	 padding-top: 0;
}
 .ftco-no-pb {
	 padding-bottom: 0;
}
 .heading-section {
	 font-size: 28px;
	 color: black;
}
 .heading-section small {
	 font-size: 18px;
}
 .img {
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center center;
}
 .navbar {
	 padding: 15px 10px;
	 background: #fff;
	 border: none;
	 border-radius: 0;
	 margin-bottom: 40px;
	 box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
 .navbar-btn {
	 box-shadow: none;
	 outline: none !important;
	 border: none;
}
 .line {
	 width: 100%;
	 height: 1px;
	 border-bottom: 1px dashed #ddd;
	 margin: 40px 0;
}
 .wrapper {
	 width: 100%;
}
 #sidebar {
	 min-width: 270px;
	 max-width: 270px;
	 background: #f8f9fb;
	 color: black;
	 transition: all 0.3s;
}


.logo-div{
	width: 100%;
	height: 68px;
	background-color: #f8f9fb;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-div img {
	width: 50%;
}

.logo-div h1{
	display: none;
	margin: 0;
	font-weight: 900;
	color: #3e64ff;
}

 #sidebar.active {
	 min-width: 80px;
	 max-width: 80px;
	 padding: 0 5px;
	 text-align: center;
}

#sidebar.active .logo-div img{
	display: none;
}

#sidebar.active .logo-div h1{
	display: block;
}

 #sidebar.active ul.components li {
	 font-size: 14px;
}
 #sidebar.active ul.components li a {
	 padding: 10px 0;
}
 #sidebar.active ul.components li a span {
	 margin-right: 0;
	 display: block;
	 font-size: 24px;
}
 #sidebar.active .logo {
	 padding: 10px 0;
}
 #sidebar.active .footer {
	 display: none;
}
 #sidebar .logo {
	 display: block;
	 color: white;
	 font-weight: 900;
	 padding: 10px 30px;
	 transition: 0.3s;
}
 #sidebar ul.components {
	 padding: 0;
	 transition: 0.3s;
	 margin-top: 15px;
}
 #sidebar ul li {
	 font-size: 16px;
	font-weight: 600;
	transition: 0.3s;
	text-overflow: ellipsis;
	overflow: hidden;
}
 #sidebar ul li > ul {
	 margin-left: 10px;
}
 #sidebar ul li > ul li {
	 font-size: 14px;
}
 #sidebar ul li a {
	 padding: 10px 30px;
	 display: block;
	 color: black;
	 border-bottom: 1px solid rgba(255, 255, 255, .1);
	 text-decoration: none;
}
 #sidebar ul li a span {
	 margin-right: 15px;
	 font-size: 18px;
}
 #sidebar ul li a:hover {
	 color: white;
} 

#sidebar ul li:hover{
	background-color: #3e64ff;
}

 #sidebar ul li.active > a {
	 background: transparent;
	 color: white;
}
 a[data-toggle="collapse"] {
	 position: relative;
}
 .dropdown-toggle::after {
	 display: block;
	 position: absolute;
	 top: 50%;
	 right: 0;
	 transform: translateY(-50%);
}
 .footer {
	 padding: 0 30px;
}
 #content {
	 width: 100%;
	 padding: 0;
	 min-height: 100vh;
	 transition: all 0.3s;
}
 .btn.btn-primary {
	 background: #3e64ff;
	 border-color: #3e64ff;
}
 .btn.btn-primary:hover, .btn.btn-primary:focus {
	 background: #3e64ff !important;
	 border-color: #3e64ff !important;
}


.collapse {
	justify-content: flex-end;
}

.navbar-i{
	width: 35px;
	height: 35px;
	background-color: #3e64ff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar-i i{
	color: white;
	font-size: 18px;
}