<div class="row">
    <div class="col-lg-10">
        <div class="card-section">
            <h3 class="sectionTitle">Sifarişə düzəliş</h3>
            <hr>
            <form class="form-section" >
                <div class="part1">
                    <div class="part1child">
                        <input type="number" class="textField" min="1" max="8" [(ngModel)]="editOrder.orderDocNum"
                            name="orderDocNum" placeholder="Sənəd №">
                        <input type="number" class="textField" [(ngModel)]="editOrder.orderPrice" name="orderPrice"
                            placeholder="Xidmət məbləği">
                    </div>
                    <div class="verticalHr"></div>
                    <div class="part1child">
                        <input type="text" class="textField" [(ngModel)]="editOrder.orderCusName"
                            placeholder="Müştəri adı" name="orderCusName">
                        <input type="text" class="textField" [(ngModel)]="editOrder.orderDate" name="orderDate"
                            [cleave]="{date: true, delimiter: '.'}" placeholder="Sifarişin tarixi (gg.aa.iiii)">

                    </div>
                    <div class="verticalHr"></div>
                    <div class="part1child">
                        <input type="number" class="textField" [(ngModel)]="editOrder.orderGbnum" name="orderGbnum"
                            placeholder="GB №">
                        <input type="text" class="textField" [(ngModel)]="editOrder.orderTrafficType"
                            name="orderTrafficType" placeholder="Nəqliyyat növü">
                    </div>
                </div>
                <div class="part2">
                    <h4>Xidmətlər</h4>

                    <input type="checkbox" id="Checkbox" [(ngModel)]="editOrder.orderSerCheck1" name="orderSerCheck1"
                        name="Checkbox">
                    <label for="Checkbox">
                        <span class="label-name">Qısa idxal bəyannaməsinin yazılması</span>
                        <div class="checkmark">
                            <i class="fal fa-check-circle"></i>
                        </div>
                    </label>

                    <input type="checkbox" id="Checkbox2" [(ngModel)]="editOrder.orderSerCheck2" name="orderSerCheck2"
                        name="Checkbox2">
                    <label for="Checkbox2">
                        <span class="label-name">Broker xidməti</span>
                        <div class="checkmark">
                            <i class="fal fa-check-circle"></i>
                        </div>
                    </label>

                    <input type="checkbox" id="Checkbox3" [(ngModel)]="editOrder.orderSerCheck3" name="orderSerCheck3"
                        name="Checkbox3">
                    <label for="Checkbox3">
                        <span class="label-name">İdxal bəyannaməsinin yazılması</span>
                        <div class="checkmark">
                            <i class="fal fa-check-circle"></i>
                        </div>
                    </label>

                    <input type="checkbox" id="Checkbox4" [(ngModel)]="editOrder.orderSerCheck4" name="orderSerCheck4"
                        name="Checkbox4">
                    <label for="Checkbox4">
                        <span class="label-name">Digər</span>
                        <div class="checkmark">
                            <i class="fal fa-check-circle"></i>
                        </div>
                    </label>
                </div>
                <hr>
                <div class="part3 pb-3 mt-3">
                    <div class="row">
                        <div class="col-6">
                            <h4>Sənəd növü</h4>
                            <select class="docType" name="orderDocId" id="" [(ngModel)]="editOrder.orderDocId">
                                <option value="0" selected disabled>Sənəd seçin</option>
                                <option *ngFor="let item of docs" [ngValue]="item.documentId">{{item.documentName}}
                                </option>
                            </select>
                            <i class="fal fa-angle-down"></i>
                            <div *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
                                <select class="docType" name="orderDocId" id="" >
                                    <option selected disabled>Sənəd seçin</option>
                                    <option *ngFor="let item of docs" [ngValue]="item.documentId">{{item.documentName}}
                                    </option>
                                </select>
                                <i class="fal fa-angle-down"></i>
                                <i class="far fa-trash" (click)="removeQuantity(i)"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <h4>Fayl</h4>
                            <div class="file-upload">
                                <div class="file-select">
                                    <div class="file-select-button fileName">Fayl seçin</div>
                                    <input class="file-select-name noFile" name="orderFile" value="Seçilmiş fayl yoxdur..." [(ngModel)]="editOrder.orderFile">
                                    <input type="file" id="inputFile" name="chooseFile" class="chooseFile"
                                        (change)="upload($event)">
                                    <input type="hidden" name="fileName" #fileName  class="fileName" [(ngModel)]="editOrder.orderFile">
                                </div>
                            </div>

                        </div>
                    </div>
                    <span (click)="addQuantity()">+ Əlavə sənəd</span>

                </div>
                <hr>
                <textarea class="textareaField" placeholder="Qeyd" [(ngModel)]="editOrder.orderNote" rows="4"
                    name="orderNote" id=""></textarea>
                <div class="price-div">
                    <span class="price">Xidmət haqqı:</span>
                    <input type="checkbox" [(ngModel)]="editOrder.orderPriceStat" id="Checkbox5" name="Checkbox5">
                    <label for="Checkbox5">
                        <span class="label-name">Ödənilib</span>
                        <div class="checkmark">
                            <i class="fal fa-check-circle"></i>
                        </div>
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-2">
        <button class="save" onclick="uploadDoc()" (click)="edit()">Yadda saxla</button>
        <button class="back" routerLink="/orders">Geri</button>
        <hr>
        <!-- <img src="../../../../../../../source/repos/AngularAPI/AngularApi/wwwroot/Images/" alt=""> -->
        <div class="info">
            <p>Sənəd nömrəsi</p>
            <input [(ngModel)]="editOrder.orderDocNum" readonly>
        </div>
        <div class="info">
            <p>Müştəri</p>
            <input [(ngModel)]="editOrder.orderCusName" readonly>
        </div>
        <div class="info">
            <p>Tarix</p>
            <input [(ngModel)]="editOrder.orderDate" readonly>
        </div>
        <div class="info">
            <p>Xidmət məbləği</p>
            <input [(ngModel)]="editOrder.orderPrice" readonly>
        </div>
    </div>
</div>